---
import BaseHead from '../components/BaseHead.astro'
import '@fontsource-variable/inconsolata'
import '@fontsource/dm-sans'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import Gradient from '../components/Gradient.svg'
import GradientBottom from '../components/GradientBottom.svg'
import Header from '../components/Header.astro'
import FooterCat from '../components/FooterCat'

const techStacks = [
  'TypeScript',
  'Python',
  'Vue',
  'React',
  'TRPC',
  'Prisma',
  'Tailwind_CSS',
  'Cloudflare_Workers',
  'Vercel',
  'Netlify',
  'Docker'
]
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      body {
        background-color: #080814;
      }
    </style>
  </head>

  <body class=''>
    <Header title={SITE_TITLE} />

    <div
      class='absolute top-0 inset-x-0 -z-[1000] pointer-events-none object-cover overflow-x-clip'
    >
      <img src={Gradient} class="w-full scale-[200%] md:scale-100" />
    </div>

    <main class='text-white'>
      <div class='max-w-screen-lg mx-auto px-4'>
        <section class='HERO mt-[200px]'>
          <h1 class='text-[32px] tracking-wide font-mono font-bold'>
            &gt; ivan_zulfikar
          </h1>
          <div class='text-[18px] mt-1 text-[rgb(255,255,255,0.7)]'>
            <p>I’m a web developer with 2 year experience.</p>
            <p>Tag: Front End, UI/UX, JavaScript.</p>
          </div>
          <div class='mt-8 space-x-2'>
            <a
              href='#hire'
              class='inline-flex px-8 min-w-[60px] bg-[rgb(255,255,255,0.05)] h-12 lg:h-[42px] items-center cursor-pointer hover:bg-[rgb(255,255,255,0.1)] transition-colors focus-visible:outline-none focus-visible:ring ring-indigo-400'
            >
              Hire Me
            </a>
            <a
              href='#hire'
              class='inline-flex px-8 min-w-[60px] border border-[rgb(255,255,255,0.1)] h-12 lg:h-[42px] items-center cursor-pointer hover:border-[rgb(255,255,255,0.3)] transition-colors focus-visible:outline-none focus-visible:ring ring-indigo-400'
            >
              Business Inquiry
            </a>
          </div>
        </section>
        <section class='SHOWCASE mt-[400px]'>
          <h2 class='text-2xl md:text-[30px] tracking-wide'>
            I make simple, responsive, consistent UI
          </h2>
          <div
            class='mt-6 w-full rounded-2xl overflow-hidden shadow-[0_5px_120px_-50px_rgb(160,58,240,0.8)]'
          >
            <img src='./avocadoos.jpg' class="hidden sm:block"/>
            <img src='./avocadoos_mobile.jpg' class="sm:hidden" />
            <!-- Create mockup  -->
          </div>
        </section>
        <section class='TECHSTACK mt-[200px]'>
          <h2 class='text-center font-bold text-xl mt-[200px]'>
            I’m experienced with
          </h2>
          <div class='flex gap-6 sm:gap-12 mt-8 flex-wrap justify-center'>
            {
              techStacks.map(val => (
                <div>
                  <img src={`/logo/${val}.png`} class='h-12 lg:h-[60px]' />
                </div>
              ))
            }
          </div>
        </section>
        <section class='HISTORY mt-[200px]'>
          <h2 class='text-2xl md:text-[30px] tracking-wide'>History</h2>
          <div
            class='grid lg:grid-cols-[1fr,1fr] grid-cols-[1fr] mt-6 min-h-[1000px]'
          >
            <div
              class='row-span-5 row-start-1 col-start-1 bg-[linear-gradient(180deg,_#181830_0%,_#080814_100%)]'
            >
              <!-- bg -->
            </div>
            <div class='px-4 lg:px-12 col-start-1 row-start-1 pt-8'>
              <h3 class='text-2xl lg:text-3xl font-mono'>2007</h3>
              <p class='mt-2'>
                During middle school, I delved into WordPress deployment and
                customization to build commercial website.
                <br />
                I used black hat SEO to push the content up in the Google Search
                (Yeah, the book I learned it from was really sketchy)
              </p>
            </div>
            <div
              class='px-20 pt-[80px] hidden lg:block opacity-20 saturate-0 hover:saturate-100 hover:opacity-100 transition-all'
            >
              <img src='/history/2007.png' />
            </div>

            <div class='px-4 lg:px-12 col-start-1 row-start-2 pt-16'>
              <h3 class='text-2xl lg:text-3xl font-mono'>2010-2017</h3>
              <p class='mt-2'>
                While I don’t do any professional web dev during the time, I
                never really got away from web development somehow. There is
                always requirement for web admin in school and It keeps me up to
                date the trend of teh web development
              </p>
            </div>
            <div
              class='px-20 pt-[112px] hidden lg:block opacity-20 saturate-0 hover:saturate-100 hover:opacity-100 transition-all'
            >
              <img src='/history/20102017.png' />
            </div>

            <div class='px-4 lg:px-12 col-start-1 row-start-3 pt-16'>
              <h3 class='text-2xl lg:text-3xl font-mono'>2020</h3>
              <p class='mt-2'>
                After months of self learning JS and PHP, I decided to take a
                Fullstack JS Bootcamp from Flavio Copes to fill my knowledge gap
                regarding the current software development landscape.
              </p>
            </div>
            <div
              class='px-20 pt-[112px] hidden lg:block opacity-20 saturate-0 hover:saturate-100 hover:opacity-100 transition-all'
            >
              <img src='/history/2020.png' />
            </div>

            <div class='px-4 lg:px-12 col-start-1 row-start-4 pt-16'>
              <h3 class='text-2xl lg:text-3xl font-mono'>2021</h3>
              <p class='mt-2'>
                Just before I finished my Bootcamp, I got an offer to work at a
                Wisata App, a hotel booking startup
              </p>
            </div>
            <div
              class='px-20 pt-[112px] hidden lg:block opacity-20 saturate-0 hover:saturate-100 hover:opacity-100 transition-all'
            >
              <img src='/history/2021.png' />
            </div>

            <div class='px-4 lg:px-12 col-start-1 row-start-5 pt-16'>
              <h3 class='text-2xl lg:text-3xl font-mono'>2023</h3>
              <p class='mt-2'>
                AI are coming, tech mass layoff happened and I lost my job. But
                hey, at least I’m free to learn more things now. Currently I’m
                taking Erik Kennedy’s LearnUI Course.
              </p>
            </div>
            <div
              class='px-20 pt-[112px] hidden lg:block opacity-20 saturate-0 hover:saturate-100 hover:opacity-100 transition-all'
            >
              <img src='/history/2023.png' />
            </div>
          </div>
        </section>
        <section class='PERSONALPROJECT mt-[200px]'>
          <h2 class='text-2xl md:text-[30px] tracking-wide'>
            Personal Project
          </h2>
          <div class='flex mt-7 gap-6 flex-wrap'>
            <div
              class='w-full md:w-1/3 aspect-[16/10] bg-[#0E0E1F] rounded-xl relative hover:-translate-y-1 transition-all hover:shadow-lg cursor-pointer overflow-hidden'
            >
              <div
                class='bg-[linear-gradient(180deg,_rgb(0,0,0,0)_0%,_rgb(0,0,0,0.6)_100%)] absolute inset-0'
              >
              </div>
              <div class='absolute bottom-0 inset-x-0 text-white mb-4 mx-4'>
                Firdle, arabic word guessing game
              </div>
              <img
                src='/personalproject/firdle.png'
                class='w-full h-full object-cover rounded-xl'
              />
              <a href='https://firdle.protbk.com/' class='absolute inset-0'>
              </a>
            </div>
            <div
              class='w-full md:w-1/3 aspect-[16/10] bg-[#0E0E1F] rounded-xl relative hover:-translate-y-1 transition-all hover:shadow-lg cursor-pointer overflow-hidden'
            >
              <div
                class='bg-[linear-gradient(180deg,_rgb(0,0,0,0)_0%,_rgb(0,0,0,0.6)_100%)] absolute inset-0'
              >
              </div>
              <div class='absolute bottom-0 inset-x-0 text-white mb-4 mx-4'>
                Pokedex
              </div>
              <img
                src='/personalproject/pokedex.png'
                class='w-full h-full object-cover rounded-xl'
              />
              <a href='https://nexter-nine-kappa.vercel.app/' class='absolute inset-0'>
              </a>
            </div>
            <div class='w-full md:w-1/3 aspect-[16/10] bg-[#0E0E1F] rounded-xl'>
              <p class='h-full justify-center flex items-center'>Coming Soon</p>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!-- <Footer /> -->
    <div
      class='text-white mt-[200px] mx-auto bg-[#181830] w-max py-4 px-4 lg:px-8 shadow-xl relative'
    >
      <div class='absolute -top-[75px] -right-4 w-[190px]'>
        <FooterCat client:idle />
      </div>
      <h3 id='hire' class='font-bold font-mono tracking-wide text-lg'>
        I'm open for hire
      </h3>
      <div class='mt-1'>Contact me at ivan.zulfikar [at] gmail.com</div>
    </div>
    <div
      class='-z-[1000] -mt-[200px] md:-mt-[500px] pointer-events-none h-20px relative'
    >
      <img src={GradientBottom} class='absolute inset-0 w-full h-[300px] md:h-[600px]' />
    </div>
  </body>
</html>
